<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>Sucesso</h1>
  <p>
    <strong>Id</strong>: <%= user.id %><br />
    <strong>Email</strong>: <%= user.emails[0].value %><br />
    <strong>Nome</strong>: <%= user.displayName %>
  </p>

  <img src="<%= user.photos[0].value %>" alt="profile" style="max-width: 60px; border-radius: 50%;" />

  <a href="/auth/google/signout"><span>Deslogar</span></a>
</body>

</html>